
/*mobile style sheet by DagF*/
#container {
    width: 98%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

nav {
    clear: none;
    margin: 0 ;
    height: auto;

}

nav li {
    float: none;
    margin: 0;
    display: block;
    text-align: left;
}

nav li a {
   padding: 10px;
    width: auto;
    font-size: 2em;
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: wheat;
}

article {
    height: auto;
    width: auto;
    float: none;
}

article h1 {
    margin-top: 14px;
}

.mer {
    width: auto;
}

.online {
    background: none;
    height: auto;
}

.online::after {
    content: " ";
    display: block;
    height: 250px;
    background: url(../graphics/logo3.png) no-repeat ;
}

.join {
    background: none;
    height: auto;
}

.join::after {
    content: " ";
    display: block;
    background: url(../graphics/blimed.png) no-repeat;
    height: 360px;
}

.fadderukene {
    background: none;
    height: auto;
}

.fadderukene::after {
    content: " ";
    display: block;
    height: 370px;
    background: url(../graphics/fadderukene.png) no-repeat ;
}

.mer .left {
    float: none;
    display:inline-block;
}

.mer .mid {
    float: none;
    display:inline-block;
}

.mer .right {
    float: none;
    display:inline-block;
}

#social p.contact {
    width: auto;
}

#facebook,
#twitter {
    float: none;
    display:inline-block;

}

.mid_text {
    display:inline-block;
    float: none;
}

article.cal {
    width: auto;
}

.cal-left,
.cal-right {
    height: auto;
}

.cal-left {
    display: table;
    margin:  0;
    float: none;
    width: 100%;
}

.cal-right {
    margin:  0;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
}

.cal-left ul {
    position: relative;
    width: auto;

}

article.cal h1 {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
}

#partners a img {
    display:inline-block;
}